#appointmentContainer {
    display: flex;
    height: 58.5rem;
    background-image: url('../../img/background1.jpg');
    justify-content: center;
}

#appointmentWindow{
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 1rem black ;
    border-radius: 1rem;
    width: 100rem;
    height: 50rem; 
}

#headerAppointmentContent{
    display: flex;
    justify-content: space-between;
}

#appointmentLogoImage{
    display: flex;
    width: 8rem;
    margin-top: 1rem;
    cursor: pointer;
}

#userInfo{
    display: flex;
    justify-content: center;
}

#salutation{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #006dc7;
    font-weight: bold;
}

#logoutButton{
    display: flex;
    margin: 3rem;
    justify-content: center;
    align-self: center;
    border: none;
    font-size: larger;
    background-color: white;
    color: #00abc7;
    font-weight: bold;
}

#logoutButton:hover{
    color: #00cdec;
    cursor: pointer;
}