.fixedAppointment{
    display: flex;
    height: 3rem;
    width: 2rem;
    margin-top: 1rem;
}

#fixedAppointmentHour, #fixedAppointmentDay,
#fixedAppointmentMonth, #fixedAppointmentYear {
    display: flex;
    width: 3rem;
    margin-right: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#cancelAppointment{
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    font-size: larger;
    background-color: white;
    color: #00abc7;
    font-weight: bold;
}

#cancelAppointment:hover{
    color: #00cdec;
    cursor: pointer;
}