#appointmentsAvailable{
    display: flex;
    flex-direction: column;
    height: 30%;
}

#appointmentsAvailableHeader{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #00abc7;
}

#appointmentsAvailableData{
    display: flex;
    justify-content: center;
    border: 1px solid #94c6ce;
    height:100%;
    margin: 1rem;
}

#appointments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    width: 50%;
    height: 100%;
}