#appointmentsAvailable{
    display: flex;
    flex-direction: column;
    height: 40%;
}

#appointmentsAvailableHeader{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #00abc7;
}

#appointmentsAvailableData{
    display: flex;
    border: 1px solid #94c6ce;
    height:100%;
    margin: 1rem;
}